h4 {
  font-weight: bold;
  font-size: 24px;
}

p {
  color: green;
  font-weight: bold;
}
.ampoule_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  gap: 1rem;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
