:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 5rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header {
  background-color: white;
  padding: 0.2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li.appName {
  font-weight: bold;
  color: #1a1a1a;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.product-item {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item .product-name {
  font-weight: bold;
  font-size: 22px;
}

.price-quantity {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #1a1a1a;
}

#modal {
  width: 30%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-top 0.3s ease-in-out;
}

#modal::backdrop {
  background: rgba(0, 0, 0, 0.65);
}

#modal h2 {
  font-size: 1.5rem;
  color: #4f3807;
  text-transform: uppercase;
  margin: 0;
}

#cart-items {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #fbd392;

  border-radius: 5px;
  font-size: 0.9rem;
}

.cart-item-actions {
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.cart-item-actions button {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #201e1a;
  cursor: pointer;
  font-size: 1.1rem;
}

.price {
  font-weight: bold;
  color: #453719;
  margin-bottom: 1rem;
}

.cart-item-actions button:hover {
  background: #f5b744;
}

.cart-item-actions button:first-of-type {
  padding-bottom: 0.2rem;
}

#cart-total-price {
  text-transform: uppercase;
  text-align: right;
  color: #4f3807;
}

#modal form {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

#modal form button {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #201e1a;
  cursor: pointer;
  font-size: 1.1rem;
}

#modal form button:hover {
  color: #453719;
}

#modal form button:last-of-type {
  background: #271e07;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #f9efda;
  font-size: 1rem;
  cursor: pointer;
}

#modal form button:last-of-type:hover {
  background: #382e1b;
}

@media only screen and (max-width: 768px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
